.container
  %h3 Wszyscy klienci

  = will_paginate @clients, renderer: BootstrapPagination::Rails
  %table.table
    %thead
      %th Imię i nazwisko
      %th Finanse
      %th Dojrzałość
      %th Rozwój
      %th Hipoteka
      %th Ocena ogólna
    -@clients.each do |client|
      %tbody
        %td=link_to "#{client.full_name}", search_path(search: client.email)
        %td=client.score("fin")
        %td=client.score("mat")
        %td=client.score("gro")
        %td
          #{client.score("hip")}
          -if client.score("hip") >= 5
            =link_to 'Wyślij ofertę hipoteczną', "#", class: "btn btn-warning btn-sm"
        %td=client.final_score
  = will_paginate @clients, renderer: BootstrapPagination::Rails
  %hr
  =link_to "Wróć", root_path, class: 'btn btn-danger'
